body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main{
    
}

header{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 30px;
}

header nav .menu ul li{
    list-style-type: none;
    display: inline;
}

header nav .menu ul li a{
    text-decoration: none;
    color: black;
    padding: 0px 20px 0px 20px;
}

header nav{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 15%;
}

header .nav .mobile{
    margin-top: 15px;
    font-size: 12px;
    justify-content: space-between;  
}

header .content{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center; 
}

header .content button{
    background: rgb(46, 165, 110);
    color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 55%;
    height: 45px;
    font-size: 18px;
    border: none;
}

header .content .text{
    padding: 15px; 
}

header .content .mobile{
   display: row;
   padding-left: 40px;   
   word-spacing: 30px; 
}

.list .title{
    padding-top: 10px;
    text-align: center;
    font-size: 35px;
}

.list .content{
    display: flex;
    justify-content: space-around;
}

.list .motto{
    justify-content: space-around;
    justify-content: center;
    padding: 30px;
    margin-top: 60px;
}

.list .motto{
    background: rgb(247, 247, 247);
}

.list .content .motto .icon{
    background: rgb(46, 165, 110);
    color: white;
    width: 60px;
    height: 60px;
    font-size: 40px;
    margin-top: -80px;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
}

.skills .title{
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
}

.feat{
    max-width: 300px;
    text-align: left;
}
    
.circle{
    transform: rotate(-90deg);
    width: 100px;
    height: 100px;    
}

.education .title{
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 5%;
}

.education .info .content .sentens{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sentens{
    background: rgb(251, 252, 251);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    max-width: 520px;
    max-height: 420px;   
}

.education h{
    color: rgb(46, 165, 110);
}

.customer .title{
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
}

.customer .person{
    background: rgb(247, 247, 247);
    max-width: 300px;
    max-height: 300px;
    padding: 20px;
    text-align: center;
}

.customer .motto .logo img{
    border-radius: 50px;
}





.stars{
    color: rgb(245, 192, 0);
}

.get .title{
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
}

.skills .content .percent{
    position: absolute;
    font-weight: bold;
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skills .circle-container{
    position: relative;
}
.education .info .content{
    display: flex;
    flex-wrap: wrap;
    margin-top:10px;
    justify-content: center;
}

.education .info .content .sentens{
    margin: 20px;
}

.skills .content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
}

.skills .circle-container{
    flex: 0 0 25%;
}

.skills .circle-container .circle-group{
    position: relative;
}

.customer .presentation{
    display: flex;
    flex-wrap: wrap;
    margin-top:10px;
    justify-content: space-around;
}

.end .logo{
    margin-top: 8%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 35px;
}

.get .table{
    display: flex;
    justify-content: space-between;
}


.get .table input{
    background: rgb(247, 247, 247);
    color: darkgray;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding-left: 10px;   
}

.get .message{
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
}

.get .message textarea{
    background: rgb(247, 247, 247);
    color: darkgrey;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 110%;
}

.get .button{
    text-align: center;
    padding-top: 15px;
}

.get .button button{
    background: rgb(46, 165, 110);
    color: white;
    border: none;
    border-radius: 20px;
    width: 130px;
    height: 35px;
    text-align: center;
}

.get .info{
    margin-left: 20%;
    margin-right: 20%;
}

.title h2{
    font-size: 45px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header nav .menu ul{
    margin: 0;
    padding-inline-start: 0;
    text-align: center;
  }
  .skills .circle-container{
    flex: 0 0 50%;
    margin: 30px;
  }
  header nav .menu ul{
    flex: 0 0 30%;
    margin: 10px
  }
  .list .content{
    flex-wrap: wrap;
}
.list .content .motto{
    flex: 0 0 40%;
}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 827.98px) { 
    .skills .circle-container{
        flex: 0 0 50%;
    }
    .customer .presentation{
        margin: 30px;
    }
    .list .content{
        flex-wrap: wrap;
    }
    .list .content .motto{
        flex: 0 0 40%;
    }
    .list .content .motto .icon{
        margin: auto;
    }
    .list .content .motto .feat{
        text-align: center;
    }
    
 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    header nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0;
    }
    header .content{
        margin-top: 0px;
    }
    .nick{
        display: none;
    }
    .content .nav .text{
        text-align: center;
    }
    header .content .mobile{
        text-align: center;
        padding-left: 0px;
    }
    .title h2{
        text-align: center;
    }
    .skills .title{
        text-align: center;
    }
    .skills .content{ 
        align-items: center;
        justify-content: center;  
    }
    .skills .circle-container{
        flex: 0 0 30%;
    }
    .get .table{
        display: flex;
        flex-direction: column;
    }
    .customer .presentation .person{
        margin-bottom: 30px;
    }
    .list .content{
        flex-wrap: wrap;
    }
    .list .content .motto{
        flex: 0 0 40%;
        margin: 10px;
    }
    .list .content .motto .icon{
        margin: auto;
    }
    .list .content .motto .feat{
        text-align: center;
        max-width: none;
    }
    .get .info .table input{
        margin-bottom: 15px;
    }
    .get .info{
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1129.98px) { 
    .list .content .motto{
        margin: 10px;
    }
   
 }